@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8F9FA;
  color: #111111;
}

/* Ocultar scrollbar en navegadores WebKit (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar en Firefox e IE */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}